@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body  {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}
.main-index {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}
.navigation-logo {
  margin: 0;
  padding: 0;
  display: block;
}
.page-header-logo {
  margin: 0;
  padding: 0;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
  margin-left: 30px;
  font-size: 20px;
  line-height: 26px;
  list-style-type: none;
}
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}
.navigation-user-item {
  min-width: 42px;
}
.navigation-user-link {
  position: absolute;
}
.navigation-user-icon {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.navigation-item {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 14px;
  margin-right: 34px;
  font-weight: bold;
}
.navigation-item:first-child {
  margin-left: 17px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.navigation-item-hotel, .navigation-item-main {
  border-bottom: 2px solid #756157;
}

.navigation-link {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: inherit;
}
.likes-number {
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
}
.button {
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}
.button-basic {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
}
.button-header {
  margin: 14px 0;
  margin-left: 20px;
  padding: 9px 15px 8px;
  border-radius: 4px;
  width: 160px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
}
.button-favourite {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;
  border-radius: 4px;
  border: 0 solid #82B3D3;
}
.about {
  background-image: url("../images/background-images/index-background.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
}
.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.about-container::before {
  display: block;
  content: "";
  width: 100%;
  min-height: 57px;
  position: absolute;
  top: -57px;
  left: 0;
  background-image: url("../images/devider.svg");
}
.logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.introduction {
  padding: 0;
  display: block;
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.about-container {
  margin: 0;
  padding: 63px 270px 90px;
  text-align: center;
  position: relative;
  background-color: #ffffff;
}
.reasons {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}
.advantages {
  margin: 0;
  padding: 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-item {
  width: 400px;
  background-color: #F0F6FA;
}
.advantages-item-text {
  width: 400px;
  box-sizing: border-box;
  padding: 92px 85px;
}
.advantages-number {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.advantages-description {
  margin: 0;
  padding: 0;
}
.advantages-item-text-sublist {
  padding: 80px 85px 81px;
  position: relative;
}
.advantages-item-text-main {
  padding: 103px 85px 102px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 40px 30px;
}
.housing, .food, .souvenir {
  padding-top: 102px;
}
.housing::before {
  display: block;
  position: absolute;
  content: "";
  left: 160px;
  top: 81px;
  width: 72px;
  min-height: 75px;
  background-image: url("../images/house.svg");
}
.food::before {
  display: block;
  position: absolute;
  content: "";
  left: 160px;
  top: 81px;
  width: 72px;
  min-height: 75px;
  background-image: url("../images/food.svg");
}
.souvenir::before {
  display: block;
  position: absolute;
  content: "";
  left: 160px;
  top: 81px;
  width: 72px;
  min-height: 75px;
  background-image: url("../images/souvenir.svg");
}
.advantages-title-photo {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.advantages-item-photo-sedona {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82B3D3;
}
.advantages-item-photo-canyon {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82B3D3;
}
.advantages-item-photo-sedona::after {
  display: block;
  content: "";
  width: 800px;
  min-height: 384px;
  background-image: url("../images/background-images/advatnages_photo_city.jpeg");
}
.advantages-item-photo-canyon::before {
  display: block;
  content: "";
  width: 800px;
  min-height: 384px;
  background-image: url("../images/background-images/advantages_photo_canyon.jpeg");
}
.advantages-background {
  background-color: #ffffff;
}
.advantages-sub-background {
  background-color: #E6F0F6;
}
.hotel-search {
  background-color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 91px 304px 93px;
}
.search-question {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  display: block;
}
.search-description {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
}
.button-hotel-search {
  display: block;
  margin: 0 9px;
  padding: 12px 15px;
  background-color: #756157;
  font-weight: bold;
  line-height: 36px;
}
.page-footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}
.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1060px;
  padding: 40px 0 30px;
}
.footer-social {
  width: 142;
  margin-right: 41px;
  display: flex;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
}
.footer-social-item {
  position: relative;
  width: 47px;
  min-height: 40px;
}
.footer-social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.newsletter-index {
  background-image: url("../images/background-images/background_blured.jpeg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  margin: 0;
  padding: 94px 200px;
}
.newsletter-button {
  line-height: 36px;
  padding: 12px 15px;
  margin: 0;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  border: 0;
  font-weight: bold;
}
.field {
  padding: 20px 491px 19px 22px;
  border: 0;
  background-color: #ffffff;
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
  border-radius: 10px 0 0 10px;
}
.field-catalog {
  background-color: #F2F2F2;
}
.newsletter-index-catalog {
  background-color: #ffffff;
  margin: 0;
  padding: 94px 200px;
}
.page-footer-title-catalog {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.page-footer-text-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}
.page-footer-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.page-footer-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 46px;
}
.newsletter-form {
  display: flex;
  padding: 0;
  margin: 0;
}
.telephone {
  width: 720px;
  margin-right: 41px;
}
.telephone-contact {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}
.telephone a {
  text-decoration: none;
  color: #000000;
}
.logo-footer {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.catalog, .catalog-filter {
  color: #ffffff;
}
.catalog {
  background-image: url("../images/background-images/background_blured_catalog.jpeg");
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}
.catalog-container {
  margin: 35px 70px;
}
.catalog-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin: 0;
}
.catalog-main-container {
  padding: 0;
  margin: 0 auto;
}
.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
.catalog-filter {
  display: flex;
  justify-content: space-between;
}
.catalog-filter-group, .hotel-price-range {
  border: 0;
}
.hotel-price-range {
  display: flex;
}
.hotel-price {
  margin: 0;
  padding: 0;
  border: 2px solid #ffffff;
  background: border-box;
  border-radius: 4px;
}
.hotel-min-price {
  border-radius: 4px 0 0 4px;
}
.hotel-max-price {
  border-radius: 0 4px 4px 0;
}
.catalog-filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-item {
  margin-bottom: 15px;
}
.catalog-filter-item:last-child {
  margin-bottom: 0;
}
.infrastructure {
  width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}
.accomodation {
  width: 145px;
  margin: 0;
  margin-right: 175px;
  padding: 0;
}
.found-hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 191px;
}
.button-submit {
  padding: 14px 15px;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
}
.button-reset {
  font-size: 16px;
  line-height: 20px;
}
.select-control {
  padding: 14px 129px 20px 14px;
  font-size: 18px;
  font-family: inherit;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.hotel-card-name {
  margin: 0;
  padding: 0;
  font-weight: Bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-rating-numbers {
  display: block;
  margin: 0;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  text-align: center;
  border-radius: 4px;
  border: 0 solid;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.hotel-rating-star {
  padding: 10px 6px 10px 0;
}
.hotel-card-title-link {
  grid-column: 1 /3;
  text-decoration: none;
  color: inherit;
}
.newsletter-catalog {
  background-color: #ffffff;
  color: #000000;
}
.hotel-rating {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 71px 66px 73px;
}
.hotel-card{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-gap: 16px 20px;
  padding: 20px;
  margin-right: 18px;
}
.hotel-card:nth-child(3n) {
  margin-right: 0;
}
.hotel-card-type, .hotel-card-price {
  margin: 0;
  padding: 0;
}
.hotel-card-link {
  grid-column: 1 / 3;
}
.hotel-card-photo {
  max-width: 100%;
}
.search-results-container {
  display: flex;
  flex-direction: row;
  padding: 50px 71px 0 72px;
  margin: 0;
  margin-bottom: 56px;
}
.found-hotels {
  margin: 0;
  margin-right: 191px;
  padding: 0;
}
.catalog-container-title {
  margin: 0;
  display: block;
  padding: 0;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 30px 70px 25px 73px;
}
.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pagination-link {
  display: block;
  width: 60px;
  min-height: 60px;
  padding: 11px 25px 13px 23px;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: bold;
  margin-right: 8px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
}
/* .pagination-link:last-child {
  margin-right: 0;
} */
.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}
.hotels-on-page {
  margin-left: auto;
}
